################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Flashcard_project/CopilotIndices/17.13.444.19527
/MemoryCards/.vs
/MemoryCards/MemoryCards/obj/Debug
/MemoryCards/MemoryCards/obj
/MemoryCards/MemoryCards/MemoryCards.csproj
/MemoryCards/MemoryCards/MemoryCards.csproj.user
/.vs
/MemoryCards/MemoryCards/AssemblyInfo.cs
