################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Flashcard_project/CopilotIndices/17.13.444.19527
/MemoryCards/MemoryCards/obj/Debug
/MemoryCards/MemoryCards/MemoryCards.csproj
